In [28]:
import requests
#from requests.auth import HTTPDigestAuth
import json
import pandas as pd
from datetime import date, datetime

In [29]:
url = "https://601fa5cgn2.execute-api.us-east-1.amazonaws.com/Dev/assets?asset=SUNDAE/ADA_0.3"
myResponse = requests.get(url)
print (myResponse.status_code)
jData = {}
# For successful API call, response code will be 200 (OK)
if(myResponse.ok):
    jData = json.loads(myResponse.content)
    print("The response contains {0} properties".format(len(jData)))
else:
  # If response code is not ok (200), print the resulting http error code with description
    myResponse.raise_for_status()

200
The response contains 38 properties

In [30]:
jData[0]

{'PairId': 'SUNDAE/ADA_0.3',
 'Index': '15710',
 'DateTimeUnix': '1645101939',
 'PairPrice': '0.761656'}

In [31]:
df = pd.DataFrame(jData, columns =['PairId','Index','DateTimeUnix','PairPrice'])
df = df.set_index('Index')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 15710 to 17480
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PairId        38 non-null     object
 1   DateTimeUnix  38 non-null     object
 2   PairPrice     38 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [33]:
def datetimeFromUnix(ts:str):
    return datetime.utcfromtimestamp(int(ts))

df['PairPrice'] = df['PairPrice'].astype(float)
df['DateTime'] = df['DateTimeUnix'].apply(datetimeFromUnix)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 15710 to 17480
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PairId        38 non-null     object
 1   DateTimeUnix  38 non-null     object
 2   PairPrice     38 non-null     float64
 3   DateTime      38 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.5+ KB

In [34]:
df.head(5)

               PairId DateTimeUnix  PairPrice            DateTime
Index
15710  SUNDAE/ADA_0.3   1645101939   0.761656 2022-02-17 12:45:39
15760  SUNDAE/ADA_0.3   1645102839   0.761204 2022-02-17 13:00:39
15810  SUNDAE/ADA_0.3   1645103739   0.760911 2022-02-17 13:15:39
15860  SUNDAE/ADA_0.3   1645104639   0.756965 2022-02-17 13:30:39
15910  SUNDAE/ADA_0.3   1645105539   0.757644 2022-02-17 13:45:39