In [28]:
import pandas as pd
import numpy as np
import time
from datetime import date, datetime
import calendar
import os

In [29]:
SAVE_CALCULATED_DF_PATH_BASE_FILENAME = 'sundaeswap_calculated.csv'
CALCULATED_FOLDER_PATH = 'D:\ICARO\Proyectos\SeleniumSundaeSwap\Calculated'

# LOAD CALCULATED DATAFRAME

In [30]:
df = pd.read_csv(CALCULATED_FOLDER_PATH+'\\'+SAVE_CALCULATED_DF_PATH_BASE_FILENAME, parse_dates=True)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df.head(1)

,Pair,LpFee,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTime,Date,Time,MinuteOfDay,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,_DELTA_DATETIME_MINUTES
0,SUNDAE/ADA,0.3,0.656333,18959279.47,12443603.15,815402.19,2022-02-08 20:11:21.366693,2022-02-08,20:11:21,1211,1644361881,SUNDAE/ADA_0.3,NaN,NaN,NaN,NaN,NaN

In [31]:
df.tail(1)

,Pair,LpFee,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTime,Date,Time,MinuteOfDay,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,_DELTA_DATETIME_MINUTES
13949,cbTHC/ADA,0.3,0.046601,201780.18,9403.19,18.38,2022-02-16 04:30:39.879875,2022-02-16,04:30:39,270,1644996639,cbTHC/ADA_0.3,0.0,0.0,0.0,900.0,15.0

# CHECK HEALTH

In [32]:
FILTER_DATE = datetime.fromisoformat('2022-02-13 12:00:00')
FILTER_DATE = datetime.fromisoformat('2022-02-13 19:00:00')
filter = (df['DateTime'] > FILTER_DATE)
filteredDf = df[filter].copy()
filteredDf.head(1)

,Pair,LpFee,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTime,Date,Time,MinuteOfDay,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,_DELTA_DATETIME_MINUTES
2850,SUNDAE/ADA,0.3,0.671405,23023873.75,15458344.93,1966938.42,2022-02-13 19:00:44.022930,2022-02-13,19:00:44,1140,1644789644,SUNDAE/ADA_0.3,0.000111,-1154.78,1771.4,897.0,14.95

In [33]:
filteredDf.tail(1)

,Pair,LpFee,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTime,Date,Time,MinuteOfDay,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,_DELTA_DATETIME_MINUTES
13949,cbTHC/ADA,0.3,0.046601,201780.18,9403.19,18.38,2022-02-16 04:30:39.879875,2022-02-16,04:30:39,270,1644996639,cbTHC/ADA_0.3,0.0,0.0,0.0,900.0,15.0

In [34]:
filteredDf[filteredDf['_DELTA_DATETIME_MINUTES'] > 35]

,Pair,LpFee,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTime,Date,Time,MinuteOfDay,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,_DELTA_DATETIME_MINUTES
3499,FIRE/ADA,1.0,0.000175,45322626.00,7958.18,626.44,2022-02-13 22:00:45.220251,2022-02-13,22:00:45,1320,1644800445,FIRE/ADA_1.0,0.000026,-3142592.00,717.18,73442.0,1224.033333
3650,SUNDAE/ADA,0.3,0.672159,23647416.36,15894825.45,2042386.17,2022-02-14 01:00:45.727159,2022-02-14,01:00:45,60,1644811245,SUNDAE/ADA_0.3,-0.002952,572338.01,316578.20,8097.0,134.950000
3651,LQ/ADA,0.3,91.954071,145193.38,13351122.70,862942.08,2022-02-14 01:00:45.727159,2022-02-14,01:00:45,60,1644811245,LQ/ADA_0.3,-0.165711,267.81,610.17,8097.0,134.950000
3652,WMT/ADA,0.3,0.809060,12480747.72,10097675.09,796837.78,2022-02-14 01:00:45.727159,2022-02-14,01:00:45,60,1644811245,WMT/ADA_0.3,-0.000939,30555.49,13029.55,8097.0,134.950000
3653,MELD/ADA,0.3,0.127419,10102760.26,1287286.20,650471.75,2022-02-14 01:00:45.727159,2022-02-14,01:00:45,60,1644811245,MELD/ADA_0.3,0.000357,11660.70,5087.11,8097.0,134.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11598,DRIP/ADA,0.3,0.003002,2960126.41,8887.09,0.00,2022-02-15 16:45:41.651392,2022-02-15,16:45:41,1005,1644954341,DRIP/ADA_0.3,0.000000,590.43,1.78,7201.0,120.016667
11599,LQ/ADA,1.0,100.801593,87.90,8860.54,0.00,2022-02-15 16:45:41.651392,2022-02-15,16:45:41,1005,1644954341,LQ/ADA_1.0,0.000000,0.00,0.00,27901.0,465.016667
13098,LQ/ADA,1.0,100.801593,87.90,8860.54,0.00,2022-02-16 00:15:40.653869,2022-02-16,00:15:40,15,1644981340,LQ/ADA_1.0,0.000000,0.00,0.00,26999.0,449.983333
13099,DRIP/ADA,0.3,0.002618,3171296.11,8302.57,587.52,2022-02-16 00:15:40.653869,2022-02-16,00:15:40,15,1644981340,DRIP/ADA_0.3,-0.000384,211169.70,-584.52,26999.0,449.983333
13349,LQ/ADA,1.0,100.801593,87.90,8860.54,0.00,2022-02-16 01:30:40.646293,2022-02-16,01:30:40,90,1644985840,LQ/ADA_1.0,0.000000,0.00,0.00,4499.0,74.983333