In [138]:
from pprint import pprint
import boto3
import pandas as pd
from datetime import datetime, timedelta
from boto3.dynamodb.conditions import Key, Attr
import time

# GLOBAL VARIABLES

In [118]:
SAVE_CALCULATED_DF_PATH_BASE_FILENAME = 'sundaeswap_calculated_small.csv'
SCRAPPED_FOLDER_PATH = 'D:\ICARO\Proyectos\SeleniumSundaeSwap\Calculated'
BATCH_WRITE = True

# GET DATA

In [119]:
df = pd.read_csv(SCRAPPED_FOLDER_PATH+'\\'+SAVE_CALCULATED_DF_PATH_BASE_FILENAME, parse_dates=True)
df.head(3)

,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS
0,0.658510,21352876.90,14061097.46,1520497.36,1644722012,SUNDAE/ADA_0.3,NaN,NaN,NaN,NaN
1,85.410120,144162.15,12312906.74,635064.55,1644722012,LQ/ADA_0.3,NaN,NaN,NaN,NaN
2,0.785214,11970638.00,9399518.76,919539.05,1644722012,WMT/ADA_0.3,NaN,NaN,NaN,NaN

In [120]:
def unixToDatetime(ts: int):
    return datetime.utcfromtimestamp(ts)

dates = df['DateTimeUnix'].apply(unixToDatetime)
df['DateTime'] = dates

In [53]:
df['_PAIR_ID'].unique()

array(['SUNDAE/ADA_0.3', 'LQ/ADA_0.3', 'WMT/ADA_0.3', 'MELD/ADA_0.3',
       'PAVIA/ADA_0.3', 'XRAY/ADA_0.3', 'ADAX/ADA_0.3', 'AADA/ADA_0.3',
       'VYFI/ADA_0.3', 'MILK/ADA_0.3', 'MINt/ADA_0.3', 'CLAP/ADA_0.3',
       'CHRLZ/ADA_0.3', 'DANA/ADA_0.05', 'WMT/ADA_0.05', 'BISON/ADA_0.3',
       'ASHIB/ADA_1.0', 'FIRE/ADA_0.3', 'HOSKY/ADA_0.3', 'MIN/ADA_0.3',
       'cNETA/ADA_0.3', 'FLICK/ADA_0.3', 'CNFT/ADA_0.3', 'MELD/ADA_1.0',
       'REVU/ADA_0.3', 'BDOGE/ADA_1.0', 'MONET/ADA_0.3',
       'unsi…en/ADA_1.0', 'DRIP/ADA_1.0', 'MINt/ADA_0.05',
       'SKULL/ADA_1.0', 'RAG/ADA_1.0', 'MIN/ADA_0.05', 'GOKEY/ADA_0.3',
       'CDX/ADA_1.0', 'XDIA…ND/ADA_1.0', 'cMETA/ADA_0.3', 'RAVE/ADA_1.0',
       'DANA/ADA_0.3', 'CARGO/ADA_0.3', 'MEOW/ADA_0.3', 'SHIBA/ADA_1.0',
       'WMT/ADA_1.0', 'Card…rm/ADA_0.3', 'cbTHC/ADA_0.3',
       'HOSKY/ADA_0.05', 'DRIP/ADA_0.3', 'FLANO/ADA_1.0', 'KIDZ/ADA_0.3',
       'FIRE/ADA_1.0', 'YAY/ADA_1.0', 'QUID/ADA_0.3', 'SUNDAE/ADA_0.05',
       'LQ/ADA_1.0', 'SUNDAE/ADA_1.0', 'LQ/ADA_0.05'], dtype=object)

In [121]:
pairId = 'SUNDAE/ADA_0.3'
FILTER_DATE = datetime.fromisoformat('2022-02-13 12:00:00')
FILTER_DATE = datetime.fromisoformat('2022-02-15 12:00:00')
filter = (df['DateTime'] > FILTER_DATE) & (df['_PAIR_ID'] == pairId) #& (df['DateTimeUnix'] > 1645080041)

print(len(df[filter]))
row = df[df['_PAIR_ID']==pairId].tail(1)
row

198

,PairPrice,TotalAssetLocked,TotalAdaLocked,AdaVolume24hs,DateTimeUnix,_PAIR_ID,_DELTA_PAIRPRICE,_DELTA_TOTALASSETLOCKED,_DELTA_TOTALADALOCKED,_DELTA_DATETIME_SECONDS,DateTime
17480,0.760128,26180036.81,19900181.84,1156399.69,1645135241,SUNDAE/ADA_0.3,-0.000726,12550.62,-9475.97,900.0,2022-02-17 22:00:41

# TO DYNAMO DB

In [55]:
session = boto3.Session(region_name='us-east-1')
dynamodb = session.resource('dynamodb')

In [122]:
# table = dynamodb.Table('PythonTest')
table = dynamodb.Table('SundaeSwapPrices')

# response = table.put_item(Item=item)
# pprint(response, sort_dicts=False)

In [125]:
if BATCH_WRITE:
    pairIds = ['SUNDAE/ADA_0.3', 'LQ/ADA_0.3', 'WMT/ADA_0.3', 'MELD/ADA_0.3', 'MILK/ADA_0.3', 'MIN/ADA_0.3']
    print('BATCH START FOR PAIRS', len(pairIds))
    for pId in pairIds:
        filter = (df['DateTime'] > FILTER_DATE) & (df['_PAIR_ID'] == pId)
        print('BATCH UPDATE START', len(df[filter]))
        print('FOR',pId)
        with table.batch_writer() as batch:
            for index, row in df[filter].iterrows():
                # print(index,row['PairPrice'])
                # batch.put_item(
                #     Item={
                #     'Id': index,
                #     'IdSecond': pId+'_'+str(index),
                #     'PairId': pId,
                #     #'DateTimeUnix': str(row['DateTimeUnix']),
                #     'DateTimeUnix': row['DateTimeUnix'],
                #     'PairPrice': str(row['PairPrice']),
                #     '_DELTA_DATETIME_SECONDS': str(row['_DELTA_DATETIME_SECONDS']),
                #     '_DELTA_PAIRPRICE': str(row['_DELTA_PAIRPRICE'])
                # })
                batch.put_item(
                    Item={
                    'PairId': pId,
                    'DateTimeUnix': row['DateTimeUnix'],
                    'Index': index,
                    'PairPrice': str(row['PairPrice'])
                })
        print('BATCH UPDATE END (sleep), last DateTimeUnix', df[filter].DateTimeUnix.max())
        time.sleep(15)
    print('BATCH END')

BATCH START FOR PAIRS 6
BATCH UPDATE START 198
FOR SUNDAE/ADA_0.3
BATCH UPDATE END
BATCH UPDATE START 198
FOR LQ/ADA_0.3
BATCH UPDATE END
BATCH UPDATE START 198
FOR WMT/ADA_0.3
BATCH UPDATE END
BATCH UPDATE START 198
FOR MELD/ADA_0.3
BATCH UPDATE END
BATCH UPDATE START 198
FOR MILK/ADA_0.3
BATCH UPDATE END
BATCH UPDATE START 190
FOR MIN/ADA_0.3
BATCH UPDATE END
BATCH END

In [117]:
len(df[filter])

140

In [127]:
response = table.get_item(
    Key={
        'PairId': 'SUNDAE/ADA_0.3',
        'DateTimeUnix': 1645135241
    }
)
item = response['Item']
print(item)

{'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17480'), 'DateTimeUnix': Decimal('1645135241'), 'PairPrice': '0.760128'}

In [149]:
d = datetime.now() - timedelta(days=1, hours=0)
unixtime = time.mktime(d.timetuple())
ut = '{:.0f}'.format(unixtime)
print(ut)
print(type(ut))
print(type(int(ut)))
print(d)
print(datetime.now())

1645095093
<class 'str'>
<class 'int'>
2022-02-17 07:51:33.993874
2022-02-17 19:51:33.994890

In [140]:
response = table.scan(
    FilterExpression=Attr('PairId').eq('SUNDAE/ADA_0.3') & Attr('DateTimeUnix').gt(int(ut))
    #FilterExpression=Attr("Date").eq(date) & Attr("Shift").eq(shift)
)
items = response['Items']

In [141]:
print(len(items))
print(items)

0
[]

In [144]:
response = table.query(
        KeyConditionExpression=Key('PairId').eq('SUNDAE/ADA_0.3') & Key('DateTimeUnix').gt(int(ut))
    )
items = response['Items']

In [145]:
print(len(items))
print(items)

92
[{'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13210'), 'DateTimeUnix': Decimal('1645053367'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13260'), 'DateTimeUnix': Decimal('1645054239'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13310'), 'DateTimeUnix': Decimal('1645055135'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13320'), 'DateTimeUnix': Decimal('1645056040'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13370'), 'DateTimeUnix': Decimal('1645056942'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13420'), 'DateTimeUnix': Decimal('1645057840'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13470'), 'DateTimeUnix': Decimal('1645058741'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13520'), 'DateTimeUnix': Decimal('1645059639'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13570'), 'DateTimeUnix': Decimal('1645060534'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13580'), 'DateTimeUnix': Decimal('1645061440'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13630'), 'DateTimeUnix': Decimal('1645062339'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13680'), 'DateTimeUnix': Decimal('1645063234'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13690'), 'DateTimeUnix': Decimal('1645064141'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13740'), 'DateTimeUnix': Decimal('1645065040'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13790'), 'DateTimeUnix': Decimal('1645065941'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13840'), 'DateTimeUnix': Decimal('1645066844'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13890'), 'DateTimeUnix': Decimal('1645067739'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13940'), 'DateTimeUnix': Decimal('1645068641'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('13990'), 'DateTimeUnix': Decimal('1645069542'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14040'), 'DateTimeUnix': Decimal('1645070444'), 'PairPrice': '0.744327'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14090'), 'DateTimeUnix': Decimal('1645071336'), 'PairPrice': '0.744441'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14100'), 'DateTimeUnix': Decimal('1645072243'), 'PairPrice': '0.744544'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14150'), 'DateTimeUnix': Decimal('1645073146'), 'PairPrice': '0.744569'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14200'), 'DateTimeUnix': Decimal('1645074048'), 'PairPrice': '0.744663'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14250'), 'DateTimeUnix': Decimal('1645074946'), 'PairPrice': '0.745131'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14300'), 'DateTimeUnix': Decimal('1645075841'), 'PairPrice': '0.746342'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14350'), 'DateTimeUnix': Decimal('1645076733'), 'PairPrice': '0.746806'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14360'), 'DateTimeUnix': Decimal('1645077640'), 'PairPrice': '0.747421'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14410'), 'DateTimeUnix': Decimal('1645078541'), 'PairPrice': '0.74989'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14460'), 'DateTimeUnix': Decimal('1645079440'), 'PairPrice': '0.748222'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14510'), 'DateTimeUnix': Decimal('1645080339'), 'PairPrice': '0.748267'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14560'), 'DateTimeUnix': Decimal('1645081240'), 'PairPrice': '0.750479'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14610'), 'DateTimeUnix': Decimal('1645082139'), 'PairPrice': '0.752881'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14660'), 'DateTimeUnix': Decimal('1645083041'), 'PairPrice': '0.75449'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14710'), 'DateTimeUnix': Decimal('1645083939'), 'PairPrice': '0.756228'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14760'), 'DateTimeUnix': Decimal('1645084840'), 'PairPrice': '0.756061'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14810'), 'DateTimeUnix': Decimal('1645085739'), 'PairPrice': '0.757248'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14860'), 'DateTimeUnix': Decimal('1645086639'), 'PairPrice': '0.756957'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14910'), 'DateTimeUnix': Decimal('1645087539'), 'PairPrice': '0.757372'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('14960'), 'DateTimeUnix': Decimal('1645088441'), 'PairPrice': '0.759733'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15010'), 'DateTimeUnix': Decimal('1645089339'), 'PairPrice': '0.760235'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15060'), 'DateTimeUnix': Decimal('1645090240'), 'PairPrice': '0.759469'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15110'), 'DateTimeUnix': Decimal('1645091140'), 'PairPrice': '0.760083'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15160'), 'DateTimeUnix': Decimal('1645092038'), 'PairPrice': '0.76068'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15210'), 'DateTimeUnix': Decimal('1645092940'), 'PairPrice': '0.75918'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15260'), 'DateTimeUnix': Decimal('1645093839'), 'PairPrice': '0.75967'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15310'), 'DateTimeUnix': Decimal('1645094740'), 'PairPrice': '0.759949'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15360'), 'DateTimeUnix': Decimal('1645095640'), 'PairPrice': '0.760812'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15410'), 'DateTimeUnix': Decimal('1645096539'), 'PairPrice': '0.758493'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15460'), 'DateTimeUnix': Decimal('1645097439'), 'PairPrice': '0.754662'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15510'), 'DateTimeUnix': Decimal('1645098339'), 'PairPrice': '0.759483'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15560'), 'DateTimeUnix': Decimal('1645099239'), 'PairPrice': '0.759953'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15610'), 'DateTimeUnix': Decimal('1645100139'), 'PairPrice': '0.759965'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15660'), 'DateTimeUnix': Decimal('1645101039'), 'PairPrice': '0.76022'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15710'), 'DateTimeUnix': Decimal('1645101939'), 'PairPrice': '0.761656'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15760'), 'DateTimeUnix': Decimal('1645102839'), 'PairPrice': '0.761204'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15810'), 'DateTimeUnix': Decimal('1645103739'), 'PairPrice': '0.760911'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15860'), 'DateTimeUnix': Decimal('1645104639'), 'PairPrice': '0.756965'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15910'), 'DateTimeUnix': Decimal('1645105539'), 'PairPrice': '0.757644'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('15960'), 'DateTimeUnix': Decimal('1645106439'), 'PairPrice': '0.756479'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16010'), 'DateTimeUnix': Decimal('1645107333'), 'PairPrice': '0.75617'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16020'), 'DateTimeUnix': Decimal('1645108239'), 'PairPrice': '0.755756'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16070'), 'DateTimeUnix': Decimal('1645109139'), 'PairPrice': '0.75615'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16120'), 'DateTimeUnix': Decimal('1645110039'), 'PairPrice': '0.756326'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16170'), 'DateTimeUnix': Decimal('1645110940'), 'PairPrice': '0.756394'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16220'), 'DateTimeUnix': Decimal('1645111839'), 'PairPrice': '0.756526'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16270'), 'DateTimeUnix': Decimal('1645112740'), 'PairPrice': '0.756887'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16320'), 'DateTimeUnix': Decimal('1645113639'), 'PairPrice': '0.756728'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16370'), 'DateTimeUnix': Decimal('1645114539'), 'PairPrice': '0.756542'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16420'), 'DateTimeUnix': Decimal('1645115439'), 'PairPrice': '0.757094'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16470'), 'DateTimeUnix': Decimal('1645116341'), 'PairPrice': '0.757296'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16520'), 'DateTimeUnix': Decimal('1645117240'), 'PairPrice': '0.755042'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16570'), 'DateTimeUnix': Decimal('1645118139'), 'PairPrice': '0.755168'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16620'), 'DateTimeUnix': Decimal('1645119040'), 'PairPrice': '0.755576'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16670'), 'DateTimeUnix': Decimal('1645119939'), 'PairPrice': '0.754627'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16720'), 'DateTimeUnix': Decimal('1645120841'), 'PairPrice': '0.754725'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16770'), 'DateTimeUnix': Decimal('1645121739'), 'PairPrice': '0.754814'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16820'), 'DateTimeUnix': Decimal('1645122640'), 'PairPrice': '0.754804'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16870'), 'DateTimeUnix': Decimal('1645123539'), 'PairPrice': '0.755027'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16920'), 'DateTimeUnix': Decimal('1645124433'), 'PairPrice': '0.755027'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16930'), 'DateTimeUnix': Decimal('1645125339'), 'PairPrice': '0.75507'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('16980'), 'DateTimeUnix': Decimal('1645126240'), 'PairPrice': '0.755083'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17030'), 'DateTimeUnix': Decimal('1645127140'), 'PairPrice': '0.755333'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17080'), 'DateTimeUnix': Decimal('1645128039'), 'PairPrice': '0.755351'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17130'), 'DateTimeUnix': Decimal('1645128939'), 'PairPrice': '0.755261'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17180'), 'DateTimeUnix': Decimal('1645129839'), 'PairPrice': '0.755194'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17230'), 'DateTimeUnix': Decimal('1645130741'), 'PairPrice': '0.755196'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17280'), 'DateTimeUnix': Decimal('1645131639'), 'PairPrice': '0.755202'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17330'), 'DateTimeUnix': Decimal('1645132539'), 'PairPrice': '0.760952'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17380'), 'DateTimeUnix': Decimal('1645133440'), 'PairPrice': '0.760841'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17430'), 'DateTimeUnix': Decimal('1645134340'), 'PairPrice': '0.760854'}, {'PairId': 'SUNDAE/ADA_0.3', 'Index': Decimal('17480'), 'DateTimeUnix': Decimal('1645135241'), 'PairPrice': '0.760128'}]